.modalContainer {
    border: 1px solid #ff437d;
    background-color: #1a1a1a !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 0;
    font-family: "Luckiest Guy", cursive;
  }
